<% if @kitten.errors.any? %>
	<div id="error-explanation">
		<div class="alert alert-danger">
			the form contains <%= pluralize(@kitten.errors.count, "error") %>.
		</div>
		<ul>
			<% @kitten.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>